<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacts</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>
    <h1>Кантакты</h1>
    {% for contact in contacts %}
        <div>
            <img src="{{ contact.photo.url }}" height="180" width="180">
            <h2>{{ contact.user.first_name }} {{ contact.user.last_name}}</h2>
            <p>{{ contact.description }}</p>
            <p>Тэлефон: {{ contact.user.phone }}</p>
            <p>Email: {{ contact.user.email }}</p>
            {% if user.is_authenticated %}
                {% if is_super %}
                    <form action="{% url 'contact_edit' pk=contact.id %}" method="get">
                        <button type="submit">Редактировать</button>
                    </form>
                    <form action="{% url 'contact_delete' contact.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Удалить</button>
                    </form>
                {% endif %}
            {% endif %}

        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        {% if is_super %}
            <form action="{% url 'contact_create' %}" method="get">
                <button type="submit">Дадаць</button>
            </form>
        {% endif %}    
    {% endif %}


</body>
</html>