<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Info</title>
</head>
<body>
    <h1>Аддзялення самовывоз</h1>
    <ul>
        {% for point in points %}
        <div>
            <h3>{{ point.no }}</h3>
            <p>Адрас: <b>{{ point.address }}</b></p>
            <p>Рэжым работы: <b>пн-нд {{ point.open|time:"H:i" }}-{{ point.close|time:"H:i" }}</b></p>
        </div>
        {% endfor %}
    </ul>
</body>
</html>
