<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редактировать {% else %}Создать {% endif %}</title>
</head>
<body>
    <a href="{% url 'departments' %}">Назад да аддзяленняў</a>

    <h1>{% if form.instance.pk %}Змяніць аддзяленне{% else %}Стварыць аддзяленне{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Захаваць</button>
    </form>
</body>
</html>
