<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine details</details></title>
</head>
<body>
    
    <h1>{{ medicine.name }}</h1>
    <img src="{{ medicine.photo.url }}" height="300" width="300">
    <p>Код: {{ medicine.code }}</p>
    <p>Інструкцыі: {{ medicine.instructions }}</p>
    <p>Апісанне: {{ medicine.description }}</p>
    <p>Кошт: {{ medicine.cost }} руб.</p>
    <p>Пастаўшчыкі: {{ suppliers.name }}</p>
    <h2>Наяўнасць у аддзяленнях:</h2>
    
    <ul>
        {% for department in departments %}
            <li>
                {{ department.department.no }} - 
                У наяўнасці: {{ department.quantity }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>