<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines List</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>

    <h1>Лекавыя прэпараты</h1>
    <form action="{% url 'medicines' %}" method="get">
        <label for="search">Пошук па назве:</label>
        <input type="text" id="search" name="search">
        <button type="submit">Шукаць</button>
    </form>

    <form action="{% url 'medicines' %}" method="get">
        <label for="min_cost">Мінімальны кошт:</label>
        <input type="text" id="min_cost" name="min_cost" value="{{ request.GET.min_cost|default_if_none:'0' }}">
    
        <label for="max_cost">Максімальны кошт:</label>
        <input type="text" id="max_cost" name="max_cost" value="{{ request.GET.max_cost|default_if_none:'1000' }}">
    
        <button type="submit">Шукаць</button>
    </form>
    
    {% if no_results %}
        <p>Тавар адсутнічае</p>
    
    {% else %}
        <ul>
            {% for medicine in medicines %}
            <div><a href="{% url 'medicine_detail' pk=medicine.id %}">{{ medicine.name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ medicine.cost }}руб.</div>        
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
    {% if is_super %}
    <form action="{% url 'medicine_create' %}" method="get">
        <button type="submit">Дадаць</button>
    </form>
    {% endif %}    
{% endif %}

</body>
</html>
