<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine details</details></title>
</head>
<body>
    <a href="{% url 'medicines' %}">Назад да лекаў</a>

    <h1>{{ medicine.name }}</h1>
    <img src="{{ medicine.photo.url }}" height="300" width="300">
    <p>Код: {{ medicine.code }}</p>
    <p>Інструкцыі: {{ medicine.instructions }}</p>
    <p>Апісанне: {{ medicine.description }}</p>
    <p>Кошт: {{ medicine.cost }} руб.</p>
    <p>Пастаўшчыкі: {{ suppliers.name }}</p>
    <h2>Наяўнасць у аддзяленнях:</h2>
    
    <ul>
        {% for department in departments %}
            <li>
                {{ department.department.no }} - 
                У наяўнасці: {{ department.quantity }}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    {% if not is_staff %}
        <form action="{% url 'create_order' pk=medicine.id %}" method="get">
            <button type="submit">Замовіць</button>
        </form>
    {% endif %}
    {% if is_super %}
        <form action="{% url 'medicine_edit' pk=medicine.id %}" method="get">
            <button type="submit">Змяніць</button>
        </form>
        <form action="{% url 'delete_med' medicine.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Выдаліць</button>
        </form>

    {% endif %}
{% endif %}

</body>
</html>