<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редактировать медикамент{% else %}Создать медикамент{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать медикамент{% else %}Создать медикамент{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ supply_form.as_p }}
        
        <h2>Отделения и количество</h2>
        {{ department_medicine_formset.management_form }}
        {% for form in department_medicine_formset %}
            {{ form.as_p }}
        {% endfor %}
        
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
