<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Orders</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>

    <h1>Заказ #{{order.id}}</h1>
    <table border="1">
        <tr>Прэпарат
            <p>Дата: {{ order.date|date:"d.m.Y" }}</p> 
            <p>Час: {{ order.date|time:"H:i" }}</p>
            <p>Аддзяленне: {{ order.department }}</p>
            <p>Прэпарат: {{ order.medicine }}</p>
            <p>Кол-ць: {{ order.quantity }}</p>
            <p>Кошт: {{ order.price_prom }}</p>
        </tr>
    </table>
</body>
</html>