{% block content %}
<form method="POST" novalidate>
    {% csrf_token %}
    <center><h2>Рэгістрацыя</h2>
    {% for field in form %}
    <p>
        {% if field.errors %}
    <ul class="errorlist">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
  </ul>
  {% endif %}
   <b><center>{{ field.label_tag }}</center></b> {{ field }}
 </p>
 {% endfor %}
 <button type="submit">Зарэгістравацца</button>
 <p>У вас ёсць акаунт? <a href="{%url 'login' %}">Увайсці</a></p></center>
</form>
{% endblock content%}