<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>

    <h1>Водгукі</h1>
    {% for review in reviews %}
        <div>
            <h2>{{ review.title }}</h2>
            <p>Ацэнка: <b>{{ review.rating }}/5</b></p>
            <p>{{ review.text }}</p>
            <p>Ад: {{ review.user.username }}</p>
            <p>Дата: {{ review.date|date:"d.m.Y" }}</p>

            {% if review.user == request.user %}
                <a href="{% url 'edit_review' review.id %}">Змяніць </a>
            {% endif %}
            
            {% if review.user == request.user %}
                <a href="{% url 'delete_review' review.id %}"> Выдаліць</a>
            {% endif %}

        </div>
    {% endfor %}

    {% if not user.is_staff %}
    <form action="{% url 'add_review' %}" method="get">
        <button type="submit">Напісаць водгук</button>
    </form>
    {% endif %}
</body>
</html>