<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
    <h1>Reviews</h1>
    {% for review in reviews %}
        <div>
            <h2>{{ review.title }}</h2>
            <p>Rating: <b>{{ review.rating }}/5</b></p>
            <p>{{ review.text }}</p>
            <p>By: {{ review.user.username }}</p>
            <p>Posted: {{ review.date }}</p>
        </div>
    {% endfor %}
    <form action="{% url 'add_review' %}" method="get">
        <button type="submit">Write a review</button>
    </form>
</body>
</html>