<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
</head>
<body>
    <h1>Отзывы</h1>
    {% for review in reviews %}
        <div>
            <h2>{{ review.title }}</h2>
            <p>Оценка: <b>{{ review.rating }}/5</b></p>
            <p>{{ review.text }}</p>
            <p>От: {{ review.user.username }}</p>
            <p>Дата: {{ review.date }}</p>

            {% if review.user == request.user %}
                <a href="{% url 'edit_review' review.id %}">Изменить </a>
            {% endif %}
            
            {% if review.user == request.user %}
                <a href="{% url 'delete_review' review.id %}"> Удалить</a>
            {% endif %}

        </div>
    {% endfor %}
    <form action="{% url 'add_review' %}" method="get">
        <button type="submit">Написать отзыв</button>
    </form>
</body>
</html>