<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RxNorm Active Ingredients</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>

    <h1>Пошук RxNorm</h1>
    <form action="{% url 'rx_search' %}" method="get">
        <label for="search">Search Term:</label>
        <input type="text" id="search" name="search" placeholder="Enter search term">
        <button type="submit">Search</button>
    </form>

    {% if concept_info %}
        <h2>Concepts:</h2>
        <ul>
            {% for concept in concept_info %}
                <li>
                    <strong>RXCUI:</strong> {{ concept.rxcui }}
                    <ul>
                        <li><strong>Name:</strong> {{ concept.properties.name }}</li>
                        <li><strong>Synonym:</strong> {{ concept.properties.synonym }}</li>
                        <li><strong>TTY:</strong> {{ concept.properties.tty }}</li>
                        <li><strong>Language:</strong> {{ concept.properties.language }}</li>
                        <li><strong>Suppress:</strong> {{ concept.properties.suppress }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No concepts found.</p>
    {% endif %}
</body>
</html>
