<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers Information</title>
</head>
<body>
    <h1>Поставщики</h1>
    {% for supplier in suppliers %}
    <div>
        <p><strong>Наименование:</strong> {{ supplier.name }}</p>
        <p><strong>Адрес:</strong> {{ supplier.address }}</p>
        <p><strong>Телефон:</strong> {{ supplier.phone }}</p>

        <h2>Поставляемые препараты</h2>
        <ul>
            {% for supply in supplier.supply.all %}
            <li>{{ supply.medicine.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</body>
</html>
