<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers Information</title>
</head>
<body>
    <a href="{% url 'home' %}">Галоўная</a>

    <h1>Пастаўшчыкі</h1>
    {% for supplier in suppliers %}
    <div>
        <p><strong>Назва:</strong> {{ supplier.name }}</p>
        <p><strong>Адрас:</strong> {{ supplier.address }}</p>
        <p><strong>Тэлефон:</strong> {{ supplier.phone }}</p>

        <h2>Пастаўляюцца</h2>
        <ul>
            {% for supply in supplier.supply.all %}
            <li>{{ supply.medicine.name }}</li>
            {% empty %}
            <li>Няма паставак</li>
            {% endfor %}

    
        </ul>
    </div>
    {% if user.is_authenticated %}
    {% if is_super %}
    <form action="{% url 'supplier_edit' pk=supplier.id %}" method="get">
        <button type="submit">Редактировать</button>
    </form>
    <form action="{% url 'supplier_delete' supplier.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>
    {% endif %}
{% endif %}

    {% endfor %}
    {% if user.is_authenticated %}
    {% if is_super %}
    <form action="{% url 'supplier_create' %}" method="get">
        <button type="submit">Дадаць</button>
    </form>
    {% endif %}    
    {% endif %}

</body>
</html>
